<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productBean" class="com.example.model.Product">
        <constructor-arg value="P101"/>
        <constructor-arg value="Laptop"/>
        <constructor-arg value="1200.50"/>
    </bean>

    <bean id="purchaseBean" class="com.example.model.Purchase" autowire="constructor">
        <constructor-arg value="PUR-001"/>
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
    </bean>
</beans>
