<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
    <h2>Spring MVC Form Demo - Registration</h2>
    <form action="/register" method="POST">
        User Name: <input type="text" name="username" /> <br/>
        Password: <input type="password" name="password" /> <br/>
        E-mail: <input type="email" name="email" /> <br/>
        Birthday: <input type="text" name="birthday" /> <br/>
        Profession: 
        <select name="profession">
            <option value="Developer">Developer</option>
            <!-- add more options as needed -->
        </select> <br/>
        <button type="submit">Register</button>
    </form>
</body>
</html>
